@import url('https://fonts.googleapis.com/css2?family=Julee&family=Yesteryear&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Julee', cursive;
}
body{
    width: 100%;
    min-height: 100vh;
    display: grid;
    place-items: center;
    overflow-y: auto;
    background-image: url('paper.jpg');
    background-repeat: repeat-y;
    background-size: 100% 100%;
}
.container{
    height: 80%;
    width: 80%;
    display: grid;
    place-items: center;
    padding: 1em;
}
form{
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
    grid-template-rows: 20% 20% 60%;
}
ul>li{
    display: grid;
    place-items: center;
    grid-template-columns: 20fr 1fr;
    width: 100%;
   
    padding: 0.5em 0;
    border-bottom: 1px solid black;
}
ul>li:hover{
    cursor: pointer;
}
form>div:nth-child(3){
    width: 100%;
    height: 16em;
    align-self: baseline;
    text-align: center;
}
.add>input{
    padding: 0.5em 0em 0.5em 0.5em;
    height: 2%;
    width: 60%;
    border-radius: 0.9em;
}
.add{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.add>button{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 0.5em;
    width: 20%;
    border-radius: 0.9em;
}
@media (max-width: 300px){
    .add>input{
        width: 65%;
    }
    .add>button{
        width: 30%;
    }
}
@media (min-width:768px) and (max-width: 999px){
    .title{
        font-size: 2em;
    }
    .add>input{
        font-size: 2em;
    }
    .add>button{
        font-size: 1.5em;
    }
    ul>li{
        font-size: 2em;
    }
}
@media (min-width: 1000px){
    .title{
        font-size: 3em;
    }
    .add>input{
        font-size: 3em;
    }
    .add>button{
        font-size: 2.5em;
    }
    ul>li{
        font-size: 3em;
    }
}